/*-----general-------*/
* {
    box-sizing: border-box;
    margin: 0px;
}
@font-face {
    font-family: "fira_sansbook";
    src: url("Fonts/firasans-book-webfont.woff2") format("woff2"),
         url("Fonts/firasans-book-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

p{
    margin-top: 10px;
    text-align: justify;
}

h2{
    font-size: 22px;
}

h1 {
    font-size: 44px;
}
strong {
    color: rgb(98,98,98);
}

h3{
    font-size: 22px;  
}

h4 {
    opacity: 0.7;
    margin-top: 10px;
}
span {
    border-bottom: 3px solid rgb(98,98,98);
    text-decoration-color: rgb(98,98,98);
}
/*-----ceci_est_mon_contenaire----------*/
body {
    max-width: 1190px;
    margin: auto;
   font-family: "fira_sansbook"; 
    display: flex;
}
/*-------------Partie_de_gauche------------------*/
.left_part {
    color: white;
    display: flex;
    flex-direction: column;
    background: rgb(98, 98, 98);
    border: 1px black solid;
    width: 32.3%
}
/*-------------photo-----------*/
.photo {
    text-align: center;
}

img {
    width:50%;
    margin-top: 63px;
    margin-bottom: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 10px beige ;
    
    
}

nav {
    margin-bottom: 40px;
    margin-top: 12px;
}

li {
    margin-top: 20px;
    list-style-type: none;
    
}

a{ /* Liens par défaut (non survolés) */
   text-decoration: none;
   color: white;
   font-style: italic;
}

a:hover{ /* Apparence au survol des liens */
   color: red;
    text-decoration: underline
}

em {
    opacity: 0.8;
    line-height: 10px;
}

h3.tittle_left {
    border: 1px solid black;
    background-color: beige;
    color: rgb(98, 98, 98);
    text-align: center;
    height: 47px;
    font-size: 25px;
    padding: 10px
}

.description_left {
    margin: 10%;
    margin-top: 35px;
    max-width:   80%;
    word-wrap: break-word;
    height: 670px;
}
/*-------------Parties icônes------------*/
aside {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 40px;   
}

.icone {
    height: 64px;
    width: 64px;
    border: 1px solid beige;
    box-shadow: 3px 3px 10px 1px beige;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 40px;
}

.icone:nth-child(1){
    margin-left: 12%;
}

.icone:nth-child(3){
    margin-right: 12%;
}

/*--------Partie_de_droite---------*/
.right_part {
    display: flex;
    flex-direction: column;
    width: 67.7%;
    padding-left: 5%;
    background-color: beige;
}
/*----------Entête---------*/
header {
    display: flex;
    flex-direction: column;
    margin-top: 110px;
    margin-bottom: 135px;
}

/*---partie_formation/expreriences-----*/
.icones_right {
    border-bottom: 2px solid grey;
    display:flex;
    font-size: 40px;
    margin-right: 37px;
    opacity: 0.6;
    padding-bottom: 5px;
}

.tittle_right {
    display: flex;
    margin-left: 37px;
}

.main_right {
    display: flex;   
}

.date {
    display: flex;
    margin-top: 50px;
    height: 20%;
    width: 35%;
}
.fa-dot-circle{
    padding-right: 20px;
    color: rgb(98,98,98);  
}

.fa-circle{
    padding-right: 20px;
    color: rgb(98,98,98);
    font-size: 10px;
}

.description_right {
    margin-top: 50px;
    margin-right: 6%;
    width: 65%;   
}

.text{
    margin-bottom: 70px;
}
/*----recommandations---*/
.recommandations {
    display: flex;
    padding-top: 30px;
}

.seconde_section {
    margin: auto;
} 

@media screen and (max-width:768px) {
/*------media_query_petit-ecran --------*/   
    body {
        display: flex;
        flex-direction: column  
    }
   
    .left_part {
        width: 100%;
    }
    
    .description_left{
        height: auto;
    }
    
    ul {
        text-align: center;
        padding: 0px;
    }
 
    right_part {
        width: 100%;
        margin: auto;
        padding: 1%;
    } 
    
    header {
        
        margin-top: 20px;
        margin-bottom: 40px;
        text-align: center;
       
    }
    
    .main_right {
        display: flex;
        flex-direction: column; 
        margin: auto; 
    }
   
    .date {
        color: beige;
        background-color: grey;
        width:100% ;
        height: 50px;
        margin: 20px 20px 20px 0px;
        padding-top: 10px;
    }
    
    .description_right {
        margin: 0px;
        width: 100%;
    } 
    
    .text {
        margin-bottom: 40px;
    }
    
     }
    .fa-dot-circle{
       margin-left: 10px;
        color: beige;   
    }
    .fa-circle{
       margin-left: 10px;
        color: beige;
    }
    .recommandations {
        margin-bottom: 30px;
}

@media screen and (max-width:425px) {
    .recommandations {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .seconde_section {
        margin-top: 10px;
    }
  